body {
  margin: 0;
}

.frame {
  height: 200px;
  padding: 0;
}

.frame .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.frame .slidee li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 240px;
  height: 100%;
}

.scrollbar {
  height: 10px;
}

.scrollbar .handle {
  width: 100px;
  /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: #888;
}

.is-vertical-center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.active {
	background: hsl(0, 0%, 96%);
}

.borderless-big {
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../img/arrow.png") 90% / 25% no-repeat #fff;
	cursor: pointer;
	padding-right: 0.5em;
	font-size: 2rem;
}

.borderless-medium {
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../img/arrow.png") 90% / 10% no-repeat #fff;
	cursor: pointer;
	padding-right: 1em;
	font-size: 1.8rem;
}


.borderless-small {
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../img/arrow.png") 100% / 7% no-repeat #fff;
	cursor: pointer;
	padding-right: 1em;
	font-size: 1.8em;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/************************************************************************/
/*						FOR SIDE-FACTS									*/
/************************************************************************/
#statistik-nilai-rataan-diterima-tertinggi {font-family: Arial;}
/* Style the tab */
.tab#statistik-nilai-rataan-diterima-tertinggi-tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab#statistik-nilai-rataan-diterima-tertinggi-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab#statistik-nilai-rataan-diterima-tertinggi-tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab#statistik-nilai-rataan-diterima-tertinggi-tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    overflow-y: auto;
    font-size: 12px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*****************************************/
/**************for pictograph*************/
/*****************************************/
body {
  /*font-family: 'Segoe UI Light', sans-serif;*/
  font-family: Calibri, sans-serif;
}

.univ {
  color: #555555;
  font-family: 'Segoe UI Light';
  margin-bottom: 10px;
}

.prodi {
  font-size: 16px;
  color: #555555;
  font-family: 'Segoe UI Light';
  margin-bottom: 20px;
}

.success-rate {
  font-size: 20px;
  color: #555555;
  font-family: 'Segoe UI Light';
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.picto {
  width: 20px;
  height: 40px;
  display: inline-block;
  margin: 1px;
}

#picto {
  float: right;
}

#expected {
  text-align: center;
  float: left;
  margin-left: 3px;
  display:block;
  width: 20%
}

#unexpected {
  text-align: center;
  float: right;
  margin-right: 3px;
  display: block;
  width: 77.5%;
}

#unexpected-content {
  /*background-color: #FFDBE1;*/
  text-align: center;
}

/*#unexpected-content .picto {
  background-color: #BE7DFF;
}*/

#expected-content {
  text-align: center;
  /*background-color: #F9F2FF;*/
/*  border: 2px solid #EAD9FA;
  border-radius: 6px;
*/}

#expected label {
  color: #BE7DFF;
  font-size: 12px;
}

#unexpected label {
  color: #FF0000;
  font-size: 12px;
}

label {
  margin-bottom: 0px;
  display: block;
}

.is-child {
	font-size: 12px;
}

.js-example-basic-single option{
	font-size: 12px;
}